.container {
    width: 100%;
    padding: 3em 3em;
    background-color: rgba(0, 0, 0, 0.829);
}

.containerCarousel {
    width: 90%;
    box-shadow: rgba(14, 14, 26, 0.877) 0px 13px 27px -5px, rgba(0, 0, 0, 0.904) 0px 8px 16px -8px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}