@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lato:wght@400;700;900&family=Oswald:wght@200;400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    
}
